<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
        <welcome-file-list>
            <welcome-file>login.jsp</welcome-file>
        </welcome-file-list>
        <servlet>
            <servlet-name>servlet</servlet-name>
            <servlet-class>servlet.addTitle</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>servlet</servlet-name>
            <url-pattern>/welcome</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Revert</servlet-name>
            <servlet-class>servlet.saveRevert</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Revert</servlet-name>
            <url-pattern>/saveRevert</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Delete</servlet-name>
            <servlet-class>servlet.delete</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Delete</servlet-name>
            <url-pattern>/delete</url-pattern>
        </servlet-mapping>
    <servlet>
        <servlet-name>Regist</servlet-name>
        <servlet-class>servlet.regist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Regist</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Change</servlet-name>
        <servlet-class>servlet.person</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Change</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
</web-app>